@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap");

$main-bg: #e7ffe1;
$navbar-bg: #00ff47;
$content-header-text: rgba(84, 84, 84, 1);
$slider-switcher: #0c0c0c;
$white: #fff;

$login-bg: #ebeaea;
$login-text: #232323;
$login-button-bg: rgba(255, 107, 0, 0.88);
$registration-color: rgba(0, 106, 30, 1);

html {
    height: 100%;
}

body {
    background-color: $main-bg;
    font-family: "Nunito";
    font-style: normal;
    letter-spacing: 0.02em;

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body *{
    z-index: auto !important;
}

p {
    margin: 0;
}

input,
select,
button,
a {
    outline: none;
    border: none;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $navbar-bg;
    box-shadow: 0px 6px 4px rgba(4, 4, 4, 0.25);
    color: $white;
    font-family: "Nunito";
    font-style: normal;
    letter-spacing: 0.02em;
    padding: 14px 0;

    &-icon {
        display: flex;
        flex-wrap: wrap;

        &-text {
            color: $white;
            font-size: 24px;
            font-weight: 900;
            text-decoration: none;
            padding-left: 8px;

            &:hover {
                color: $white;
            }
        }
    }

    &-right-navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        font-size: 18px;
        font-weight: 700;
        
        text-align: center;

        & a {
            color: $white;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
        }

        & button {
            background: inherit;
            color: $white;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.main-navbar {
    margin-top: 48px;
    background-color: $navbar-bg;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;

    & ul {
        padding-left: 0;
        display: flex;
        margin-bottom: 0;

        & li {
            border-right: 1px solid #a4a4a4;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 18px 0;

            &:last-child {
                border-right: none;
            }

            & a {
                color: $white;
                text-decoration: none;
            }

            &:hover,
            &.active {
                background: linear-gradient( 0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), $navbar-bg;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.main{
    margin-top: 64px;
}

.footer {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $navbar-bg;
    box-shadow: 0px 6px 4px rgba(4, 4, 4, 0.25);
    margin-top: 30px;
    font-family: "Nunito";
    letter-spacing: 0.02em;

    & .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & input[type="image"] {
            padding: 20px 0;
        }
    }

    & p {
        color: $white;
        margin-top: 18px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 0) {
    .header-icon {
        justify-content: center;
        align-items: center;
    }

    .main-navbar ul {
        flex-direction: column;

        & li {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #000;
        }
    }
}

@media (min-width: 768px) {
    .header-icon {
        flex-wrap: nowrap;
        align-items: center;
    }

    .main-navbar ul {
        flex-direction: row;

        & li {
            width: 25%;
            border-right: 1px solid #000;
            border-bottom: none;

            &:nth-child(3) {
                border-right: none;
            }

            &:nth-child(4) {
                border-left: 1px solid #000;
            }
        }
    }
}

@media (min-width: 992px) {
    .header-icon {
        flex-wrap: wrap;
        justify-content: start;
        align-content: center;
    }

    .main-navbar ul {
        flex-direction: row;

        & li {
            width: 25%;
            border-right: 1px solid #000;
            border-bottom: none;

            &:nth-child(3) {
                border-right: none;
            }

            &:nth-child(4) {
                border-left: 1px solid #000;
            }
        }
    }
}
