$login-bg: #ebeaea;
$login-text: #232323;
$login-button-bg: rgba(255, 107, 0, 0.88);
$registration-color: rgba(0, 106, 30, 1);

$white: #fff;

body {
    background-image: url(/images/Login_Register/bg.jpg);
}

.login-container {
    display: flex;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & .login {
        background: $login-bg;
        border: 1px solid #000000;
        font-family: "Nunito";
        font-style: normal;
        letter-spacing: 0.02em;
        margin: auto;
        vertical-align: middle;

        & .close {
            position: relative;

            & img {
                position: absolute;
                top: 29px;
                right: 15px;
                cursor: pointer;
            }
        }

        &-from {
            padding-top: 20px;
            margin-bottom: 20px;
            color: $login-text;
            text-align: center;
            font-weight: 700;
            font-size: 24px;
        }

        & .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & form#external-account {
                width: 48%;
                text-align: center;
            }
        }

        & button[type="submit"] {
            margin: 11px 0;
            background-color: $white;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            & img {
                padding: 10px 0;
            }

            & span {
                color: $login-text;
                margin-left: 6px;
            }
        }

        & .facebook {
            width: 100%;
            margin: 0 auto;
        }

        & .password {
            position: relative;

            & img {
                position: absolute;
                top: 17px;
                right: 15px;
                cursor: pointer;
            }

            & #password {
                margin-top: 16px;
            }
        }

        & .input {
            display: block;
            margin: 0 auto;
            padding: 12px 14px;
            width: 100%;
            background-color: $white;
            border: none;
            border-radius: 10px;
            font-size: 18px;


            &::placeholder {
                color: rsgba(0, 0, 0, 0.5);
                padding-left: 5px;
                font-size: 14px;
            }

            &:focus-visible {
                outline: 1px solid greenyellow;
            }
        }

        & .enter {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            margin-left: 10px;

            & .remember {
                display: flex;
                align-items: center;

                & span {
                    padding-left: 10px;
                }

                & input {
                    margin-top: 3px;
                }
            }

            & input[type="submit"] {
                font-weight: 700;
                font-size: 16px;
                color: $white;
                background: $login-button-bg;
                border-radius: 104px;
                padding: 5px 40px;
                margin: 10px;

                &:hover,
                &:active {
                    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), $login-button-bg;
                }
            }
        }

        & .forget {
            color: $login-text;
            display: block;
            margin: 15px auto;
            text-underline-offset: 3px;
            text-align: center;
        }

        & .not-account {
            text-align: center;
            margin-top: 8px;
            font-weight: 500;
            font-size: 18px;

            & a {
                color: $registration-color;
                background: inherit;
                text-underline-offset: 3px;
                font-weight: 700;
                font-size: 18px;
            }
        }

        & .have-account {
            display: block;
            margin: 30px auto 15px;
            text-align: center;
            color: $login-text;
            font-weight: 500;
            font-size: 18px;
        }
    }

    & .wrapper {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .login {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .login {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .login {
        width: 33%;
    }
}
