$white: #fff;
$login-button-bg: rgba(255, 107, 0, 0.88);


.input {
    display: block;
    margin: 0 auto;
    padding: 12px 14px;
    width: 100%;
    background-color: $white;
    border: none;
    border-radius: 10px;

    &::placeholder {
        color: rsgba(0, 0, 0, 0.5);
        padding-left: 5px;
        font-size: 14px;
    }

    &:focus-visible {
        outline: 1px solid greenyellow;
    }
}

.password {
    position: relative;

    & img {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    & #password,
    #passwordconfirm {
        margin-top: 16px;
    }
}

input[type="submit"] {
    display: block;
    margin: 15px auto 0;
    font-weight: 700;
    font-size: 16px;
    color: $white;
    background: $login-button-bg;
    border-radius: 104px;
    padding: 10px 40px;

    &:hover,
    &:active {
        background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), $login-button-bg;
    }
}
.gotomainpage {
    margin: 15px auto;
    text-align: center;
    background: $login-button-bg;
    border-radius: 104px;

    & a {
        display: block;
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        width: 100%;
        padding: 10px 40px;
    }

    &:hover,
    &:active {
        background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), $login-button-bg;
    }
}