<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 icons">
                <input type="image" src="/images/MainPage/footer icons/youtube default.png" alt="Ютуб">
                <input type="image" src="/images/MainPage/footer icons/email default.png" alt="Пошта">
                <input type="image" src="/images/MainPage/footer icons/instagram default.png" alt="Інстаграм">
                <input type="image" src="/images/MainPage/footer icons/facebook default.png" alt="Фейсбук">
            </div>
            <div class="offset-lg-4 col-lg-5">
                <p>© 2022 СонетоБанк. Усі права захищено</p>
            </div>
        </div>
    </div>
</footer>