<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/main icon.png" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/components.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" type="text/css" />
    <link rel="stylesheet" href=@ViewData["Styles"] type="text/css">


    <title>@ViewData["Title"]</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")

    <div class="container">
        @await Html.PartialAsync("_NavbarPartial")
        @RenderBody()
    </div>

    @await Html.PartialAsync("_FooterPartial")
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/start.js"></script>
    <script src=@ViewData["Scripts"]></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>
</html>
