@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
.main {
  background-color: #014272;
  margin-top: 36px;
}
.main-content {
  color: #fff;
  text-align: center;
}
.main-content h1 {
  font-weight: 900;
  font-size: 64px;
  margin-top: 60px;
}
.main-content p {
  font-family: "Prosto One";
  font-weight: 400;
  font-size: 36px;
}
.main .cache {
  text-align: center;
}
.main .cache img {
  max-width: 400px;
}

.animate {
  text-align: center;
}

.get-credit-animate {
  color: #fff;
  background-color: #96bb00;
  border-radius: 100px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 40px;
  margin-bottom: 64px;
}
.get-credit-animate:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #96bb00;
  color: #fff;
}

.terms {
  margin-top: 48px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #343434;
}
.terms h2 {
  font-size: 48px;
  margin-bottom: 24px;
}
.terms td {
  font-size: 18px;
  padding: 20px;
}

.form {
  background-color: #014272;
  margin-top: 96px;
}
.form .left-side {
  color: #fff;
  margin-top: 96px;
  margin-bottom: 96px;
  text-align: center;
}
.form .left-side h2 {
  font-weight: 600;
  font-size: 36px;
}
.form .left-side .everymonthpayment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .left-side .everymonthpayment p:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
}
.form .left-side .everymonthpayment p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
}
.form .right-side {
  color: #fff;
  margin-top: 96px;
  margin-bottom: 96px;
}
.form .right-side span {
  display: block;
  color: lightcoral;
  margin-top: 6px;
  font-weight: 700;
  padding-left: 2px;
}
.form .right-side input[type=text] {
  background: #fff;
  border-radius: 10px;
  padding: 8px 13px;
  width: 100%;
  outline: none;
  border: none;
}
.form .right-side input[type=text]::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-size: 14px;
}
.form .right-side p {
  padding-left: 8px;
  padding-bottom: 8px;
}
.form .right-side .line {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}
.form .right-side .line div {
  width: 45%;
}
.form .right-side .second,
.form .right-side .birth {
  margin-top: 26px;
}
.form .right-side .third {
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.form .right-side .third .select {
  width: 33% !important;
  margin: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  border-right: 1px solid #05e740;
}
.form .right-side .third .select img {
  margin-right: 7px;
}
.form .right-side .third select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
}
.form .right-side .forth {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}
.form .right-side .forth .employee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  height: 40px;
}
.form .right-side .forth .employee select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
}
.form .right-side .forth .employee img {
  margin-right: 8px;
}

.get-credit {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #ff2b2b;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 36px;
  padding: 8px 15px;
}
.get-credit:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #ff2b2b;
  color: #fff;
}

.range .sum-of-credit {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.range .sum-of-credit p {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.range .sum-of-credit .sum {
  display: flex;
  justify-content: space-between;
  width: 190px;
  color: #343434;
  margin-right: 5px;
  background-color: #fff;
}
.range .sum-of-credit .sum .sum-value {
  font-size: 20px;
  background-color: #fff;
  padding-left: 16px;
  width: 75%;
  border: none;
}
.range .sum-of-credit .sum .sum-value:hover, .range .sum-of-credit .sum .sum-value:active, .range .sum-of-credit .sum .sum-value:focus-visible {
  outline: none;
}
.range .sum-of-credit .sum .currency {
  font-size: 20px;
  padding: 8px;
}
.range .scroll {
  margin-top: 10px;
  width: 100%;
}
.range .scroll input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  border-radius: 15px;
  background: #a4a4a4;
}
.range .scroll input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 30.94px;
  background: url("/images/CreditsPage/scroll item.png");
}
.range .min-and-max {
  display: grid;
  grid-auto-flow: column;
}
.range .min-and-max p:nth-child(2) {
  text-align: right;
  margin-right: 8px;
}

.contain-credit {
  margin-top: 96px;
}
.contain-credit h2 {
  font-weight: 700;
  font-size: 48px;
  color: #545454;
  margin-bottom: 96px;
}
.contain-credit-main {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.contain-credit-main-content {
  margin-bottom: 48px;
}
.contain-credit-scrolls {
  display: flex;
  justify-content: space-evenly;
}
.contain-credit .range {
  width: 40%;
  margin-top: 20px;
}
.contain-credit .every-month {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  font-weight: 600;
  color: #232323;
}
.contain-credit .every-month p {
  font-size: 18px;
  margin-left: 14px;
}
.contain-credit .every-month .month-payment {
  font-size: 24px;
}
.contain-credit .my-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #545454;
  font-weight: 600;
  color: #0c0c0c;
  margin-top: 10px;
}
.contain-credit .my-row-name {
  font-size: 18px;
  padding: 32px 8px;
}
.contain-credit .my-row-value {
  font-size: 28px;
  text-align: left;
  width: 30%;
  padding: 26px 8px;
}

.terms-credit {
  text-align: center;
  margin-bottom: 64px;
}
.terms-credit h2 {
  margin-top: 96px;
  margin-bottom: 64px;
}
.terms-credit-cards {
  display: flex;
  justify-content: space-between;
}
.terms-credit-cards .my-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin-top: 48px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin-bottom: 18px;
}
.terms-credit-cards .my-card p {
  font-weight: 500;
  font-size: 18px;
  padding-top: 24px;
}

@media (min-width: 0) {
  .right-side {
    margin-top: 8px !important;
  }

  .left-side {
    margin-bottom: 8px !important;
  }

  .contain-credit-scrolls {
    flex-direction: column;
  }
  .contain-credit-scrolls .range {
    width: 100%;
  }

  .contain-credit-main-content .my-row-name {
    width: 40%;
    font-size: 14px;
  }
  .contain-credit-main-content .my-row-value {
    width: 50%;
    font-size: 18px;
  }

  .range .min-and-max p:nth-child(1) {
    text-align: left;
    margin-left: 8px;
  }
  .range .sum-of-credit {
    flex-direction: column;
  }
  .range .sum-of-credit .sum {
    margin-top: 12px;
    width: 170px;
  }

  .terms-credit-cards {
    flex-direction: column;
    align-items: center;
  }
  .terms-credit-cards .my-card {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .right-side {
    margin-top: 8px !important;
  }

  .left-side {
    margin-bottom: 8px !important;
  }

  .contain-credit-scrolls {
    flex-direction: column;
  }
  .contain-credit-scrolls .range {
    width: 100%;
  }

  .contain-credit-main-content .my-row-name {
    width: 50%;
    font-size: 18px;
  }
  .contain-credit-main-content .my-row-value {
    width: 33%;
    font-size: 24px;
  }

  .range .min-and-max p:nth-child(1) {
    text-align: left;
    margin-left: 8px;
  }
  .range .sum-of-credit {
    flex-direction: row;
  }
  .range .sum-of-credit .sum {
    margin-top: 0;
    width: 170px;
  }

  .terms-credit-cards {
    flex-direction: column;
    align-items: center;
  }
  .terms-credit-cards .my-card {
    width: 60%;
  }
}
@media (min-width: 992px) {
  form {
    display: flex;
  }

  .right-side {
    margin-top: 96px !important;
  }

  .left-side {
    margin-bottom: 96px !important;
  }

  .contain-credit-scrolls {
    flex-direction: row;
  }
  .contain-credit-scrolls .range {
    width: 40%;
  }

  .contain-credit-main-content .my-row-name {
    width: 50%;
    font-size: 18px;
  }
  .contain-credit-main-content .my-row-value {
    width: 33%;
    font-size: 24px;
  }

  .range .min-and-max p:nth-child(1) {
    text-align: left;
    margin-left: 8px;
  }
  .range .sum-of-credit {
    flex-direction: row;
  }
  .range .sum-of-credit .sum {
    margin-top: 0;
    width: 170px;
  }

  .terms-credit-cards {
    flex-direction: row;
    align-items: center;
  }
  .terms-credit-cards .my-card {
    width: 30%;
  }
}
