body {
  background-image: url(/images/Login_Register/bg.jpg);
}

.login-container {
  display: flex;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.login-container .login {
  background: #ebeaea;
  border: 1px solid #000000;
  font-family: "Nunito";
  font-style: normal;
  letter-spacing: 0.02em;
  margin: auto;
  vertical-align: middle;
}
.login-container .login .close {
  position: relative;
}
.login-container .login .close img {
  position: absolute;
  top: 29px;
  right: 15px;
  cursor: pointer;
}
.login-container .login-from {
  padding-top: 20px;
  margin-bottom: 20px;
  color: #232323;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.login-container .login .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container .login .icons form#external-account {
  width: 48%;
  text-align: center;
}
.login-container .login button[type=submit] {
  margin: 11px 0;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-container .login button[type=submit] img {
  padding: 10px 0;
}
.login-container .login button[type=submit] span {
  color: #232323;
  margin-left: 6px;
}
.login-container .login .facebook {
  width: 100%;
  margin: 0 auto;
}
.login-container .login .password {
  position: relative;
}
.login-container .login .password img {
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}
.login-container .login .password #password {
  margin-top: 16px;
}
.login-container .login .input {
  display: block;
  margin: 0 auto;
  padding: 12px 14px;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
.login-container .login .input::placeholder {
  color: rsgba(0, 0, 0, 0.5);
  padding-left: 5px;
  font-size: 14px;
}
.login-container .login .input:focus-visible {
  outline: 1px solid greenyellow;
}
.login-container .login .enter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
}
.login-container .login .enter .remember {
  display: flex;
  align-items: center;
}
.login-container .login .enter .remember span {
  padding-left: 10px;
}
.login-container .login .enter .remember input {
  margin-top: 3px;
}
.login-container .login .enter input[type=submit] {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: rgba(255, 107, 0, 0.88);
  border-radius: 104px;
  padding: 5px 40px;
  margin: 10px;
}
.login-container .login .enter input[type=submit]:hover, .login-container .login .enter input[type=submit]:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(255, 107, 0, 0.88);
}
.login-container .login .forget {
  color: #232323;
  display: block;
  margin: 15px auto;
  text-underline-offset: 3px;
  text-align: center;
}
.login-container .login .not-account {
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
}
.login-container .login .not-account a {
  color: #006a1e;
  background: inherit;
  text-underline-offset: 3px;
  font-weight: 700;
  font-size: 18px;
}
.login-container .login .have-account {
  display: block;
  margin: 30px auto 15px;
  text-align: center;
  color: #232323;
  font-weight: 500;
  font-size: 18px;
}
.login-container .wrapper {
  padding: 20px;
}

@media (min-width: 768px) {
  .login {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .login {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .login {
    width: 33%;
  }
}
