@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Відмова доступу";
}

<main class="main">
    <p class="text-danger text-center mt-4 fs-4 fw-bold">У вас немає доступу до цього ресурсу.</p>
</main>
