@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Підтвердження зміни паролю";
}

<main class="main">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center">
        Будь ласка, перевірте ваш Email, щоб підтвердити зміну паролю.
    </p>

</main>

