@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Відновлення паролю";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/components.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/recover.min.css" type="text/css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="recover-container">
        <div class="login">
            <div class="wrapper">
                <div class="close">
                    <p class="login-from">Відновлення паролю</p>
                </div>

                <p class="text">
                    Введіть, будь ласка, свій E-mail, щоб ми могли відправити підтвердження зміни паролю на ваш почтовий ящик.
                </p>
                <form method="post">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="E-mail*" class="input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <input type="submit" value="ВІДПРАВИТИ ПАРОЛЬ" class="btn" />
                </form>
                <a asp-page="./Login" class="back">Повернутись до авторизації</a>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/start.js"></script>
</body>
</html>

@await Html.PartialAsync("_ValidationScriptsPartial")
