@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблоковано";
}

<main class="main">
    <p class="text-danger text-center mt-4 fs-4 fw-bold">Ви заблоковані на цьому ресурсі, спробуйте пізніше.</p>
</main>
