@page
@model LogoutModel

@{
    if (User.Identity.IsAuthenticated)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link" style="margin: 0 auto; background-color:  rgba(255, 107, 0, 0.88); color: white;        font-weight: 700;
                font-size: 16px;">
                Натисніть тут, щоб вийти
            </button>
        </form>
    }
    else
    {
        <p class="text-center">Ви успішно вийшли з акаунту.</p>
    }
}
