@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<main class="main">
    <p class="text-center mt-4 fs-4">
        Будь ласка, перевірте ваш email, щоб підтвердити реєстрацію.
    </p>

</main>

