@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження зміни паролю";
}

<main class="main">
    <h1 class="text-center mt-4">@ViewData["Title"]</h1>
    <p class="text-center mt-4">
        Ваш пароль було скинуто. Будь ласка, натисніть <a asp-page="./Login">тут</a>, щоб увійти.
    </p>
</main>
