@{
    ViewData["Title"] = "Про банк";
    ViewData["Styles"] = "/css/about.min.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="about-bank">
        <h2>ПРО БАНК</h2>
        <div class="about-bank-part">
            <h3>Найбільший банк України</h3>
            <p>
                Тих, хто хоча б раз у житті користувався послугами СонетоБанку,
                уже понад 20 мільйонів – половина всіх користувачів банківських
                послуг в Україні від приватних осіб до компаній і підприємців.
                Постійно користуються послугами СонетоБанку майже 18 мільйонів
                українців, а клієнтів діджитал-банку Сонета17 нині 13,5 мільйона.
            </p>
        </div>
        <div class="about-bank-part">
            <h3>Ефективний та прибутковий</h3>
            <p>
                СонетоБанк доводить, що державна компанія може й має бути
                прибутковою та ефективною. Чистий прибуток СонетоБанку у 2020 році
                – 24,3 млрд грн. Це 61,2% прибутку всіх українських банків за рік.
                Загалом після націоналізації банк сплатив до бюджету 55,4 млрд грн
                дивідендів.
            </p>
        </div>
        <div class="about-bank-part">
            <h3>Інновації – серце СонетоБанку!</h3>
            <p>
                Команда СонетоБанку робить усе, щоб обслуговування в банку було
                зручним та безпечним для клієнтів. Ми пропонуємо понад 176
                цифрових сервісів і дистанційне обслуговування. Клієнтам
                СонетоБанку зручно користуватися платіжними картками, однак у
                період пандемії COVID-19 ми забезпечили повний безконтакт завдяки
                віртуальним карткам, які можна оформити миттєво через додаток
                Сонета17 в смартфоні.
            </p>
        </div>
        <h2>ДОПОМОГА</h2>
        <p class="tel">
            Для того, щоб отримати своєчасну допомогу банку, Ви можете
            зателефонувати за номером:
            <a href="tel:+380 (760) 56-18-17">+380 (760) 56-18-17</a> або у
            додатку Сонета17.
        </p>
    </div>
</main>

