@{
    ViewData["Title"] = "Умови";
    ViewData["Styles"] = "/css/terms.min.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
    <div class="main-header">
        <p class="main-header-h">
            Умови та правила надання банківських послуг
        </p>
        <button><p>Скачати договір</p></button>
    </div>
    <div class="first credit">
        <div class="credit-line">
            <p class="credit-header">1. Кредити</p>
        </div>
        <div class="credit-content">
            <ol start="1">
                <li>Кредити готівкою видаються разом з договором про кредит.</li>
                <li>
                    Кредити готівкою видаються однією сумою. Неможливо розбити
                    кредит на кілька платежів.
                </li>
                <li>
                    Кредити готівкою можуть оплачуватися частинами, якщо це
                    передбачено у договорі.
                </li>
                <li>
                    Відсотки по кредиту оплачуються до 27 числа кожного місяця.
                </li>
                <li>
                    Серед обов’язкових умов для отримання кредиту є громадянство
                    України, повноліття та наявність постійного доходу.
                </li>
                <li>
                    Ні банк, ні клієнт не мають права змінювати договір по кредиту
                    до кінця терміну договору.
                </li>
                <li>
                    Усі суперечки та розбіжності, що виникають з надання кредиту або
                    у зв’язку з ним, підлягають розгляду в порядку, встановленому
                    <br />чинним законодавством України.
                </li>
                <li>
                    Клієнт має право погасити проценту по кредиту раніше, ніж
                    зазначено у договорі, але не пізніше.
                </li>
                <li>
                    Клієнт має право отримати консультації банку у випадку
                    непередбачуваних ситуацій.
                </li>
            </ol>
        </div>
    </div>
    <div class="first credit">
        <div class="credit-line">
            <p class="credit-header">2. Депозити</p>
        </div>
        <div class="credit-content">
            <ol start="1" class="deposit-ol">
                <li>
                    Депозити готівкою видаються разом з договором про депозит.
                </li>
                <li>
                    Відсотки по депозиту видаються в кінці договору, якщо немає
                    можливості дострокового розриву.
                </li>
                <li>
                    Серед обов’язкових умов для отримання депозиту є громадянство
                    України та повноліття.
                </li>
                <li>
                    Ні банк, ні клієнт не мають права змінювати договір по кредиту
                    до кінця терміну договору.
                </li>
                <li>
                    Усі суперечки та розбіжності, що виникають з надання кредиту або
                    у зв’язку з ним, підлягають розгляду в порядку, встановленому
                    <br />чинним законодавством України.
                </li>
                <li>
                    Клієнт має право отримати суму, виділену на депозит, назад за
                    умови, якщо договором по депозиту це передбачено.
                </li>
                <li>
                    Клієнт має право отримати консультації банку у випадку
                    непередбачуваних ситуацій.
                </li>
                <li>
                    При внесенні додаткових коштів банк оповістить про нові умови
                    договору, виславши його на електронну пошту.
                </li>
                <li>
                    Оподаткування доходу у вигляді процентів за користування вкладом
                    здійснюється відповідно до законодавства України.
                </li>
                <li>
                    Виплата вкладу довіреній особі протягом 28 календарних днів з
                    дати оформлення вкладу не проводиться.
                </li>
            </ol>
        </div>
    </div>
</main>


